/* Epicurious Card */
green {
    color: green;
}

.card-epicurious{
    box-shadow: 4px 4px 4px darkgrey;
    height: 450px;
    background-size: cover;
    color: white;
    position: relative;
    margin-bottom: 15px;
}

.card-epicurious h1 {
    background: linear-gradient(135deg,
    rgba(128, 128, 128, 0.8) 0%,
    rgba(128,128,128,0.5) 50%);
    margin: 0;
    text-align: center;
    width: 100%;
    visibility: hidden;
    position: relative;
    padding-top: 50%;
}

.card-epicurious:hover h1{
    border: solid;
    border-color: red;
    border-width: 4px;
    height: 450px;
    background-size: cover;
    color: grey;
    font-family: "Roboto Light";
    font-size: x-large;
    visibility: visible;
    padding-top: 50%;
}

.card-epicurious-head{
    /*border: solid;*/
    /*border-color: white;*/
    height: 45%;
}

.card-epicurious-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border: solid;*/
    /*border-color: white;*/
    background-color: #f5f5f5;
    height: 55%;
}

.card-epicurious-description h3{
    color: red;
    font-family: "Montserrat", "sans-serif";
    font-size: medium;
}

.card-epicurious-title a{
    /*border: solid;
    border-color: red;*/
    color: #3c4989;
    font-family: 'Source Serif Pro', serif;
    font-size: x-large;
}


.card-epicurious-sumup{
    /*border: solid;*/
    /*border-color: white;*/
    color: gray;
    font-size: small;
}

.card-epicurious-notes{
    /*border: solid;*/
    /*border-color: white;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    margin-bottom: 5px;
}

.card-epicurious-note  {
    flex: 0 0 auto;
}

.red{
    color: red;
}

#basket{
    background: url("../../images/basket.jpg");
    background-size: cover;
}

#cartable {
    background: url("../../images/cartable.jpg");
    background-size: cover;
}

#licorne{
    background: url("../../images/licorne.jpg");
    background-size: cover;
}

#bateau{
    background: url("../../images/bateau.jpg");
    background-size: cover;
}

#mask{
    background: url("../../images/mask.jpg");
    background-size: cover;
}

#pirate{
    background: url("../../images/pirates.jpg");
    background-size: cover;
}

#reinedesneiges{
    background: url("../../images/reinedesneignes.jpg");
    background-size: cover;
}

#switch{
    background: url("../../images/switch.jpg");
    background-size: cover;
}
